{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@tlq": "./src",
          "@tlq/types": "./src/types",
          "@tlq/scenes": "./src/scenes",
          "@tlq/anims": "./src/anims",
          "@tlq/character": "./src/character",
          "@tlq/utils": "./src/utils"
        }
      }
    ]
  ]
}
